/* Specific styles to make the accordion match nav.side-nav a */
.accordion-link {
    display: block;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0a1f42;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.accordion-link:hover {
    background-color: #34495e;
}

/* Icon styling for the accordion */
.accordion-icon {
    margin-right: 8px;
    color: #white;
}
